.logo {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  outline: 2px solid transparent;
  padding: 1rem 0.25rem 0px 2rem;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  text-align: end;
}

.logo > small {
  display: block;
}

.logo:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: 5px;
  width: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
}
