nav.socials a {
  display: flex;
  color: currentColor;
  outline: 2px solid transparent;
}

nav.socials a:focus {
  outline: 2px solid white;
  background: yellow;
}

nav.socials ul {
  padding: 0px;
  list-style-type: none;
}

nav.socials a:hover {
  filter: invert(1);
  background: yellow;
}
