.banner {
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  /* overflow-x: clip; */
  gap: 1rem;
}

.banner--image {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 53.5px);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  /* overflow-x: clip; */
  gap: 1rem;
  align-content: center;
}

.banner .banner__content {
  grid-column: span 14;
  align-self: center;
  z-index: 1;
}

.banner--image .banner__content {
  grid-column: span 6;
  align-self: center;
  z-index: 1;
}

.banner__content ul {
  padding-left: 1em;
}

.banner__content h1 {
  margin-bottom: 0px;
}

.banner__image {
  grid-column: span 8;
}

.banner--image img {
  display: block;
  object-fit: cover;
  width: 130%;
  height: calc(100vh - 107px);
  margin-left: -30%;
}