.banner,
.banner--contains-image {
  max-width: calc(var(--brand-base-grid) + 2rem);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .banner--contains-image.first-element {
    height: calc(100vh - 7.25rem);
  }
}

.banner__content--contains-image {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .banner__content--contains-image {
    min-height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 1rem;
    align-content: center;
  }
}

.banner__content {
  padding: 5rem 0px;
}

.banner__content--contains-image {
  grid-column: span 14;
  max-width: 100%;
}

.banner__content--contains-image .banner__content--copy {
  position: relative;
  grid-column: span 6;
  align-self: end;
  z-index: 10;
  padding: 9rem 1rem 1rem;
}

.banner__content--copy p:last-of-type {
  margin-bottom: 0px;
}

@media screen and (min-width: 1024px) {
  .banner__content--contains-image .banner__content--copy {
    padding: 0rem;
  }
}

.banner__content--image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.banner__content--image {
  grid-column: span 8;
  align-self: stretch;
}

@media screen and (min-width: 1024px) {
  .banner__content--image {
    position: relative;
  }
}

.banner__content--contains-image img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
