html, body {
  background: var(--brand-black);
  margin: 0px;
  scroll-behavior: smooth;
}

* {
  font-size: 16px;
}

.bg-red {
  background: var(--brand-red);
}

.bg-black {
  background: var(--brand-black);
}

.bg-grey {
  background: var(--brand-grey);
}

.bg-white {
  background: var(--brand-white);
}

.bg-yellow {
  background: var(--brand-yellow);
}

.text-red {
  color: var(--brand-red);
}

.text-black {
  color: var(--brand-black);
}

.text-grey {
  color: var(--brand-grey);
}

.text-white {
  color: var(--brand-white);
}

.text-yellow {
  color: var(--brand-yellow);
}

/* text */

body {
  font-family: var(--normal-font);
  font-weight: false;
  word-break: all;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  line-height: 1;
  word-wrap: break-word;
  margin: 0px;
}

h1,
.text-size-h1 {
  font-weight: 400;
  margin-top: 0;
  font-size: var(--text-size-2xl);
  line-height: 1;
}

@media screen and (min-width: 768px) {
  h1,
  .text-size-h1 {
    font-size: var(--text-size-3xl);
  }
}

h2,
.text-size-h2 {
  font-size: var(--text-size-xl);
  line-height: 1;
}

@media screen and (min-width: 480px) {
  h2,
  .text-size-h2 {
    font-size: var(--text-size-2xl);
  }
}

h3,
.text-size-h3 {
  font-size: var(--text-size-lg);
  line-height: 1;
}

@media screen and (min-width: 480px) {
  h3,
  .text-size-h3 {
    font-size: var(--text-size-xl);
  }
}

h4,
.text-size-h4 {
  font-size: var(--text-size-xl);
  line-height: 1;
}

h5,
.text-size-h5 {
  font-size: var(--text-size-lg);
  line-height: 1;
}

.text-caption {
  font-size: var(--text-size-sm);
}

small,
.text-small {
  font-size: var(--text-size-xs);
}

/* links */
a:focus-visible,
button:focus-visible {
  outline-color: var(--brand-white);
  color: var(--brand-black);
  background: var(--a11y-focus-yellow);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#maincontent {
  margin: 1rem;
}

/* buttons */
a.btn,
button,
button.btn,
button.btn--outline,
a.btn--outline {
  position: relative;
  display: inline-block;
  text-align: end;
  padding: 1rem 0.25rem 0px 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
  }
}

nav a:not(.current) {
  text-decoration: none;
}

button,
.btn {
  border: 2px solid transparent;
}

.btn--primary.btn--outline {
  border: 2px solid var(--brand-white);
}

.btn--secondary.btn--outline {
  border: 2px solid var(--brand-red);
}

a.btn:before,
button:before,
button.btn:before,
button.btn--outline:before,
a.btn--outline:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: 5px;
  width: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
}

a.btn:before,
button:before,
button.btn:before {
  left: 0px;
  top: 0px;
}
