/* container rules */

/* colours */

html, body {
  background: var(--brand-white);
}

* {
  font-size: 16px;
}

.bg-red {
  background: var(--brand-red);
}

.bg-black {
  background: var(--brand-black);
}

.bg-grey {
  background: var(--brand-grey);
}

.bg-white {
  background: var(--brand-white);
}

.bg-yellow {
  background: var(--brand-yellow);
}

.text-red {
  color: var(--brand-red);
}

.text-black {
  color: var(--brand-black);
}

.text-grey {
  color: var(--brand-grey);
}

.text-white {
  color: var(--brand-white);
}

.text-yellow {
  color: var(--brand-yellow);
}

/* text */

body {
  font-family: var(--normal-font);
  font-weight: false;
  word-break: all;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-weight: 400;
  margin-top: 0;
  font-size: var(--text-size-4xl);
  line-height: 1;
}

h2,
.text-size-h2 {
  font-size: var(--text-size-3xl);
  line-height: 1;
}

h3,
.text-size-h3 {
  font-size: var(--text-size-2xl);
  line-height: 1;
}

h4,
.text-size-h4 {
  font-size: var(--text-size-xl);
  line-height: 1;
}

h5,
.text-size-h5 {
  font-size: var(--text-size-lg);
  line-height: 1;
}

.text-caption {
  font-size: var(--text-size-sm);
}

small,
.text-small {
  font-size: var(--text-size-xs);
}

/* links */


/* buttons */
a.button,
button {
  background: white;
  min-width: 120px;
  text-align: center;
  padding: .5rem 1.125rem;
  border-radius: 20px;
  color: var(--brand-black);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
