:root {
  /* fonts */
  --normal-font: 'Open Sans', sans-serif;
  --heading-font: 'Oswald', serif;

  /* brand grid width */
  --brand-base-grid: 1280px;

  /* brand colours */
  --brand-red: #96031A;
  --brand-black: #1B1B1E;
  --brand-grey: #6D676E;
  --brand-white: #FBFFFE;
  --brand-yellow: #FAA916;

  /* gradients */
  --brand-primary-gradient: linear-gradient(-45deg, var(--brand-black), var(--brand-red), var(--brand-yellow), var(--brand-white));
  --brand-secondary-gradient: linear-gradient(-45deg, var(--brand-black), var(--brand-white));

  /* focus colour */
  --a11y-focus-yellow: yellow;

  /* font sizes */
  --text-size-xs: 0.38rem;
  --text-size-sm: 0.62rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.62rem;
  --text-size-xl: 2.62rem;
  --text-size-2xl: 4.24rem;
  --text-size-3xl: 6.85rem;
  --text-size-4xl: 11.09rem;
  --text-size-5xl: 17.94rem;

  /* border radius */
  --border-radius: .5rem;
  
  /* breakpoints */
  --breakpoint-xs: 320;
  --breakpoint-sm: 768;
  --breakpoint-md: 960;
  --breakpoint-lg: 1420;
  
  /* animations */
  --transition: .3s ease-in-out;
  --brand-gradient-transiiton: gradient 15s ease infinite;
}
