header {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: var(--brand-black);
  background-color: rgb(0 0 0 / 30%);
  backdrop-filter: blur(8px);
  padding: 1rem 0px;
}

header > .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--brand-base-grid);
  margin: 0px 1rem;
  padding: 1rem;
  background: var(--brand-white);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header nav.site-navigation > ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px 1rem 1rem;
}

header nav.site-navigation li {
  display: block;
  list-style-type: none;
}

header nav.site-navigation li > a {
  font-size: var(--text-size-xl);
}

header nav.site-navigation a {
  display: block;
  padding: .5rem .75rem;
  margin-left: 0px;
  outline: none;
  color: var(--brand-white);
  text-underline-offset: 0.125rem;
  text-underline-position: under;
}

header nav.site-navigation a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1320px) {
  header > .content {
    width: 100%;
    margin: 0px auto;
  }
}
