header {
  width: 100%;
  z-index: 20;
}

header > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--brand-base-grid);
  margin: 0 auto;
}