header {
  width: 100%;
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

header > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--brand-base-grid);
  margin: 1rem;
  background: var(--brand-white);
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

header nav.site-navigation > ul {
  display: flex;
  padding: 0px;
}

header nav.site-navigation li {
  list-style-type: none;
}

header nav.site-navigation a {
  padding: .5rem .75rem;
  margin-left: .5rem;
  outline: 2px solid var(--brand-white);
  color: var(--brand-black);
}

header nav.site-navigation a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1320px) {
  header > .content {
    width: 100%;
    margin: 1rem auto;
  }
}
