footer {
  background: var(--brand-yellow);
  background: var(--brand-primary-gradient);
  padding: 4rem 1rem;
}

footer .filterPanel--blur {
  display: flex;
  justify-content: space-between;
  max-width: var(--brand-base-grid);
  margin: 0 auto;
}

footer .logo {
  display: block;
  margin-bottom: 0.625rem;
}

footer nav:not(.socials) {
  text-align: right;
}

footer nav ul {
  display: block;
  margin: 0px;
}

footer nav:not(.socials) li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

footer nav a {
  display: inline-flex;
  color: var(--brand-black);
  padding: 0px;
  outline: none;
  font-weight: 600;
}

footer div.filterPanel > :first-child {
  width: calc(100% - 4rem);
}

.footer .footer__socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .socials ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
}