.content-grid > *,
.content-grid.content {
  grid-column: content;
  word-wrap: break-word;
}

.content-grid:not(.banner) {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
}

.content-grid.full > * {
  grid-column: full-width;
}

.content-grid--light {
  color: var(--brand-black);
}

.content-grid--dark {
  color: var(--brand-white);
}

/* .content-grid p:last-of-type {
  margin-bottom: 0px;
} */

@media screen and (min-width: 1024px) {
  .content-grid:not(.banner),
  .content-grid.full {
    display: grid;
    grid-template-columns:
      [content-start] min(1316px, 100%)
      [content-end];
    justify-content: center;
  }
}

.content-grid.grid {
  display: flex;
  max-width: var(--brand-base-grid);
  margin-left: auto;
  margin-right: auto;
};
