.content-grid > *,
.content-grid.full {
  grid-column: content;
  word-wrap: break-word;
  width: 100%;
}

.content-grid.wide > * {
  grid-column: breakout;
}

.content-grid:not(.banner) {
  display: flex;
  padding: 1rem;
}

.content-grid.full > * {
  grid-column: full-width;
}

.content-grid--light {
  color: var(--brand-black);
}

.content-grid--dark {
  color: var(--brand-white);
}

@media screen and (min-width: 1024px) {
  .content-grid,
  .content-grid:not(.banner),
  .content-grid.full {
    display: grid;
    grid-template-columns: 
      [full-width-start] 100px [breakout-start] 100px [content-start] 1fr [content-end] 100px [breakout-end] 100px [full-width-end];
  }
}
