.skiplink {
  position: absolute !important;
  display: none;
  inset: -999999px auto auto -999999px;
  font-size: 0px;
  opacity: 0;
  padding: 0px;
  transition: opacity var(--transition);
}

.skiplink--visible-on-focus:focus {
  position: relative !important;
  display: block;
  inset: 0px;
  font-size: 1em;
  opacity: 1;
  margin: .5rem;
}

.skiplink--visible {
  position: relative !important;
  inset: 0px;
  font-size: 1em;
  margin: .5rem;
  opacity: 1;
}